@import "@fontsource/turret-road/400" layer(base);
@import "@fontsource/turret-road/700" layer(base);

@import "tailwindcss";

@theme {
  --font-sans: Product Sans, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-turret-road: Turret Road;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  *,
  ::after,
  ::before {
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-300
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }
}

@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Product Sans Regular.ttf");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/Product Sans Italic.ttf");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Product Sans Bold.ttf");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/Product Sans Bold Italic.ttf");
}
